build/assignment1_bin
build/cmake_install.cmake
build/CMakeCache.txt
build/Makefile
build/CMakeFiles/cmake.check_cache
build/CMakeFiles/CMakeDirectoryInformation.cmake
build/CMakeFiles/CMakeOutput.log
build/CMakeFiles/CMakeRuleHashes.txt
build/CMakeFiles/feature_tests.bin
build/CMakeFiles/feature_tests.c
build/CMakeFiles/feature_tests.cxx
build/CMakeFiles/Makefile.cmake
build/CMakeFiles/Makefile2
build/CMakeFiles/progress.marks
build/CMakeFiles/TargetDirectories.txt
build/CMakeFiles/3.7.2/CMakeCCompiler.cmake
build/CMakeFiles/3.7.2/CMakeCXXCompiler.cmake
build/CMakeFiles/3.7.2/CMakeDetermineCompilerABI_C.bin
build/CMakeFiles/3.7.2/CMakeDetermineCompilerABI_CXX.bin
build/CMakeFiles/3.7.2/CMakeSystem.cmake
build/CMakeFiles/3.7.2/CompilerIdC/a.out
build/CMakeFiles/3.7.2/CompilerIdC/CMakeCCompilerId.c
build/CMakeFiles/3.7.2/CompilerIdCXX/a.out
build/CMakeFiles/3.7.2/CompilerIdCXX/CMakeCXXCompilerId.cpp
build/CMakeFiles/assignment1_bin.dir/build.make
build/CMakeFiles/assignment1_bin.dir/cmake_clean.cmake
build/CMakeFiles/assignment1_bin.dir/CXX.includecache
build/CMakeFiles/assignment1_bin.dir/depend.internal
build/CMakeFiles/assignment1_bin.dir/depend.make
build/CMakeFiles/assignment1_bin.dir/DependInfo.cmake
build/CMakeFiles/assignment1_bin.dir/flags.make
build/CMakeFiles/assignment1_bin.dir/link.txt
build/CMakeFiles/assignment1_bin.dir/progress.make
build/CMakeFiles/assignment1_bin.dir/src/main.cpp.o
build/libigl/cmake_install.cmake
build/libigl/Makefile
build/libigl/CMakeFiles/CMakeDirectoryInformation.cmake
build/libigl/CMakeFiles/progress.marks
build/libigl/glfw/cmake_install.cmake
build/libigl/glfw/cmake_uninstall.cmake
build/libigl/glfw/Makefile
build/libigl/glfw/CMakeFiles/CMakeDirectoryInformation.cmake
build/libigl/glfw/CMakeFiles/progress.marks
build/libigl/glfw/CMakeFiles/Export/lib/cmake/glfw3/glfw3Targets-release.cmake
build/libigl/glfw/CMakeFiles/Export/lib/cmake/glfw3/glfw3Targets.cmake
build/libigl/glfw/CMakeFiles/uninstall.dir/build.make
build/libigl/glfw/CMakeFiles/uninstall.dir/cmake_clean.cmake
build/libigl/glfw/CMakeFiles/uninstall.dir/DependInfo.cmake
build/libigl/glfw/CMakeFiles/uninstall.dir/progress.make
build/libigl/glfw/src/cmake_install.cmake
build/libigl/glfw/src/glfw3.pc
build/libigl/glfw/src/glfw3Config.cmake
build/libigl/glfw/src/glfw3ConfigVersion.cmake
build/libigl/glfw/src/glfw_config.h
build/libigl/glfw/src/libglfw3.a
build/libigl/glfw/src/Makefile
build/libigl/glfw/src/CMakeFiles/CMakeDirectoryInformation.cmake
build/libigl/glfw/src/CMakeFiles/progress.marks
build/libigl/glfw/src/CMakeFiles/glfw.dir/build.make
build/libigl/glfw/src/CMakeFiles/glfw.dir/cmake_clean.cmake
build/libigl/glfw/src/CMakeFiles/glfw.dir/cmake_clean_target.cmake
build/libigl/glfw/src/CMakeFiles/glfw.dir/depend.internal
build/libigl/glfw/src/CMakeFiles/glfw.dir/depend.make
build/libigl/glfw/src/CMakeFiles/glfw.dir/DependInfo.cmake
build/libigl/glfw/src/CMakeFiles/glfw.dir/flags.make
build/libigl/glfw/src/CMakeFiles/glfw.dir/link.txt
build/libigl/glfw/src/CMakeFiles/glfw.dir/progress.make
build/libigl/glfw/src/CMakeFiles/glfw_objects.dir/build.make
build/libigl/glfw/src/CMakeFiles/glfw_objects.dir/C.includecache
build/libigl/glfw/src/CMakeFiles/glfw_objects.dir/cmake_clean.cmake
build/libigl/glfw/src/CMakeFiles/glfw_objects.dir/cocoa_init.m.o
build/libigl/glfw/src/CMakeFiles/glfw_objects.dir/cocoa_joystick.m.o
build/libigl/glfw/src/CMakeFiles/glfw_objects.dir/cocoa_monitor.m.o
build/libigl/glfw/src/CMakeFiles/glfw_objects.dir/cocoa_time.c.o
build/libigl/glfw/src/CMakeFiles/glfw_objects.dir/cocoa_window.m.o
build/libigl/glfw/src/CMakeFiles/glfw_objects.dir/context.c.o
build/libigl/glfw/src/CMakeFiles/glfw_objects.dir/depend.internal
build/libigl/glfw/src/CMakeFiles/glfw_objects.dir/depend.make
build/libigl/glfw/src/CMakeFiles/glfw_objects.dir/DependInfo.cmake
build/libigl/glfw/src/CMakeFiles/glfw_objects.dir/flags.make
build/libigl/glfw/src/CMakeFiles/glfw_objects.dir/init.c.o
build/libigl/glfw/src/CMakeFiles/glfw_objects.dir/input.c.o
build/libigl/glfw/src/CMakeFiles/glfw_objects.dir/monitor.c.o
build/libigl/glfw/src/CMakeFiles/glfw_objects.dir/nsgl_context.m.o
build/libigl/glfw/src/CMakeFiles/glfw_objects.dir/posix_tls.c.o
build/libigl/glfw/src/CMakeFiles/glfw_objects.dir/progress.make
build/libigl/glfw/src/CMakeFiles/glfw_objects.dir/vulkan.c.o
build/libigl/glfw/src/CMakeFiles/glfw_objects.dir/window.c.o
